<html>

<head>
    <title>After school classes</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="Subjects.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="Style.css">
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click='showCheckout' v-if="cartItemCount > 0">
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span> Cart
            </button>
        </header>

        <div class="Sort">
            
                <h4>Sort by:</h4>
          
                    <label>
                        <input v-model="sort" type="radio" name="Sort" value="price" v-on:click="sortedProducts('price', ord)"> Price
                    </label><br>
                    <label>
                        <input v-model="sort" type="radio" name="Sort" value="subj"> Subject
                    </label><br>
                    <label>
                        <input v-model="sort" type="radio" name="Sort" value="loc"> Location
                    </label><br>
                    <label>
                        <input v-model="sort" type="radio" name="Sort" value="avail"> Availability
                    </label><br>
             

                <h4>Order</h4>
               
                    <label>
                        <input v-model="ord" type="radio" name="Order" value="asc"> Ascending
                    </label><br>
                    <label>
                        <input type="radio" name="Order" value="des" v-model="ord"> Descending
                    </label><br>
            
                
            </div>
       
            <div v-if='showProduct'>
                <section class="new-released"  >
                    <div class="product-container" id="Shop-product">
                <div v-for="product in sortedProducts(sort, ord)">
                    <div class="product-box">
                    <h2 v-text="product.Subject"></h2>
                    <div class="product-img">
                    <figure>
                        <img v-bind:src="product.image">
                    </figure>
                </div>
                <div class="product-details">
                    <p v-html="product.description"></p>
                    <p>Price: {{product.price}}</p>
                    <p>Available stock: {{product.availableInventory -cartCount(product.id) }}</p>

                   
                    <div class="add-cart">
                    <button v-on:click='addToCart(product)' v-if='canAddToCart(product)'>Add to cart</button>

                    <button disabled="disabled" v-else>Add to cart</button>
                    </div>
                    <span v-if='product.availableInventory === cartCount(product.id)'>All out!</span>
                    <span v-else-if="product.availableInventory - cartCount(product.id) < 5">
                        Only {{product.availableInventory - cartCount(product.id)}} left!
                    </span>
                    <span v-else>Buy now!</span>

                    <div>
                        <span v-for='n in product.rating'>★ </span>
                        
                        <span v-for='n in 5-product.rating'>☆</span>
                    </div>
                </div>
                    </div>
                </div>
                    </div>
                
                </section>
            </div>




            <div v-else>
                <h2>Cart</h2>
                <button v-on:click='showCheckout'>
                    {{cartItemCount}}
                    <span class="fas fa-cart-plus"></span> Cart
                </button>
                <div class="product-container" id="Shop-product">
                  
                        <div class="product-box">
                        <h2 v-text="product.Subject"></h2>
                        <div class="product-img">
                        <figure>
                            <img v-bind:src="product.image">
                        </figure>
                    </div>
                    <div class="product-details">
                        <p v-html="product.description"></p>
                        <p>Price: {{product.price}}</p>
                    </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'After School Classes',
                products: products,
                cart: [],
                showProduct: true,
                order: {
                    Name: '',
                    PhoneNum: '',
                
                },
                sort: "subj",
                 ord: "asc"

            },
            
            methods: {
                addToCart(product) {
                    this.cart.push(product);
                    // console.log('adding to cart', product.id)
                },
                showCheckout() {
                    // console.log(this.showProduct);
                    this.showProduct = this.showProduct ? false : true;
                },
                sortedProducts(sort, order) {
                            let lessonsArray = this.products.slice(0);
                            switch (sort) {
                                // sort by price
                                case "price":
                                    if (order == "asc") {
                                        function comparePrice(a, b) {
                                            if (a.price > b.price)
                                                return 1
                                            if (a.price < b.price)
                                                return -1
                                            return 0
                                        }
                                        return lessonsArray.sort(comparePrice)
                                    } else {
                                        function comparePrice(a, b) {
                                            if (a.price > b.price)
                                                return -1
                                            if (a.price < b.price)
                                                return 1
                                            return 0
                                        }
                                        return lessonsArray.sort(comparePrice)
                                    }
                                    break;
                                
                                // sort by location
                                case "loc":
                                    if (order == "asc") {
                                        function compareLocation(a, b) {
                                            if (a.location > b.location)
                                                return 1
                                            if (a.location < b.location)
                                                return -1
                                            return 0
                                        }
                                        return lessonsArray.sort(compareLocation)
                                    } else {
                                        function compareLocation(a, b) {
                                            if (a.location > b.location)
                                                return -1
                                            if (a.location < b.location)
                                                return 1
                                            return 0
                                        }
                                        return lessonsArray.sort(compareLocation)
                                    }
                                    break;
                                
                                // sort by availability
                                case "avail":
                                    if (order == "asc") {
                                        function compareAvailability(a, b) {
                                            if (a.availableInventory > b.availableInventory)
                                                return 1
                                            if (a.availableInventory < b.availableInventory)
                                                return -1
                                            return 0
                                        }
                                        return lessonsArray.sort(compareAvailability)
                                    } else {
                                        function compareAvailability(a, b) {
                                            if (a.availableInventory > b.availableInventory)
                                                return -1
                                            if (a.availableInventory < b.availableInventory)
                                                return 1
                                            return 0
                                        }
                                        return lessonsArray.sort(compareAvailability)
                                    }
                                    break;

                                // by default, compare subject
                                default:
                                    if (order == "asc") {
                                        function compareSubject(a, b) {
                                            if (a.Subject > b.Subject)
                                                return 1
                                            if (a.Subject < b.Subject)
                                                return -1
                                            return 0
                                        }
                                        return lessonsArray.sort(compareSubject)
                                    } else {
                                        function compareSubject(a, b) {
                                            if (a.Subject > b.Subject)
                                                return -1
                                            if (a.Subject < b.Subject)
                                                return 1
                                            return 0
                                        }
                                        return lessonsArray.sort(compareSubject)
                                    }
                                    break;
                            }
                        },
                submitForm() {
                    alert('Order submitted!')
                },
                canAddToCart(product) {
                    return product.availableInventory > this.cartCount(product.id);
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                }
            },
            computed: {
                cartItemCount() {
                    return this.cart.length;
                },
               
              
            },
        });
    </script>
</body>

</html>