body{
    width: 100%;
    
	}
	html {
  scroll-behavior: smooth;
}

.Sort{
    top:300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    font-size: 20px;
    color: #00B4CC;
    font-family: "Comic Sans MS", "Courier New", monospace;
}

.new-released{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-container{
	width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    top: 500px;
}
.product-container h2{
    font-size: 30px;
    color: #00B4CC;
    font-family: "Comic Sans MS", "Courier New", monospace;
}
#Shop-product{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 150px
	
}
.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 20px;
    margin:10px;
}
.product-img{
    width:200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}
.product-img img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
}
.add-cart button{
    width:170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00B4CC;
    letter-spacing: 2px;
    margin-top: 14px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    animation: fade 0.3s;
}
.cart-button button{
    width:170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00B4CC;
    letter-spacing: 2px;
    margin-top: 14px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    animation: fade 0.3s;
}